<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= title %></title>
	<link rel="icon" href="icon.png" type="image/x-icon" /> <!--Favicon-->
	<link href="https://fonts.googleapis.com/css?family=Arimo:700i|Libre+Franklin|Nunito|Rubik&effect=3d-float|anaglyph&display=swap" rel="stylesheet"> <!-- Google Fonts Link -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> <!-- Font Awesome Link-->
	<link rel="stylesheet" href="styles/variables.css">  <!-- Style Sheet containing all variables -->
    <link rel="stylesheet" href="styles/style.css">		<!-- Main style sheet -->
    <%- style %>
</head>
<body>
	<!--The header at the top-->
	<%- include('_header'); %>
    <!-- The main body, includes the left #main part and the queue -->
    <main class="flex">
        <%- include('_queue') %>
        <%- body %>
    </main>
	<%- include('_footer'); %>
	<script src="scripts/songs.js" type="text/javascript"></script>
	<script src="scripts/dynamic.js" type="text/javascript"></script>
	<%- script %>
</body>
</html>