<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= title %></title>
	<link rel="icon" href="icon.png" type="image/x-icon" /> <!--Favicon-->
	<!-- <link href="https://fonts.googleapis.com/css?family=Arimo:700i|Libre+Franklin|Nunito|Rubik&effect=3d-float|anaglyph&display=swap" rel="stylesheet"> Google Fonts Link -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> Font Awesome Link
	<link rel="stylesheet" href="/styles/variables.css">  <!-- Style Sheet containing all variables -->
	<link rel="stylesheet" href="/styles/style.css">		<!-- Main style sheet -->
	<link rel="stylesheet" href="/styles/footer.css">
	<link rel="stylesheet" href="/styles/queue.css">
	<link rel="stylesheet" href="/styles/header.css">

    <%- style %>
</head>
<body>
	<script>
		var songs = new Array(<%= songsArr.length %>);
		var i = 0;
		var tempObj;
		<% for (let i in songsArr){ %>
			tempObj = {
				indexId: <%= songsArr[i].indexID %>,	
				inQueue: <%= songsArr[i].inQueue %>,	
				isFav: <%= songsArr[i].isFav %>,	
				songName: "<%= songsArr[i].songName %>",	
				duration: "<%= songsArr[i].duration %>",	
				imgUrl: "<%= songsArr[i].imgUrl %>",	
				artist: "<%= songsArr[i].artist %>",	
			};
			songs[i] = tempObj;
			i++;
		<% } %>
	</script>
	<script src="/scripts/songs.js" type="text/javascript"></script>
	<!--The header at the top-->
	<%- include('_header'); %>
    <!-- The main body, includes the left #main part and the queue -->
    <main class="flex">
		<%- include('_queue') %>
		<div id="main"> 
			<%- body %>
		</div>
    </main>
	<%- include('_footer'); %>
	<%- script %>
	<script src="/scripts/_header.js"></script>
	<script type="text/javascript" src="/scripts/_queue.js"></script>
	<script type="text/javascript" src="/scripts/_footer.js"></script>
	<script type="text/javascript" src="/scripts/dynamic.js"></script>

</body>
</html>